<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GC200387480.assignmenttwo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MovieApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssignmentTwo">
        <activity
            android:name="com.GC200387480.assignmenttwo.AboutMeActivity"
            android:exported="true"
            android:parentActivityName="com.GC200387480.assignmenttwo.MainActivity"


            />
        <activity
            android:name="com.GC200387480.assignmenttwo.ReviewActivity"
            android:exported="true"
            android:parentActivityName="com.GC200387480.assignmenttwo.MovieRecyclerActivity" />
        <activity
            android:name="com.GC200387480.assignmenttwo.SigninActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.GC200387480.assignmenttwo.MovieRecyclerActivity"
            android:exported="true"
            android:parentActivityName="com.GC200387480.assignmenttwo.MainActivity" />

        <activity
            android:name="com.GC200387480.assignmenttwo.NewMovieActivity"
            android:exported="true"
            android:parentActivityName="com.GC200387480.assignmenttwo.MainActivity" />
        <activity
            android:name="com.GC200387480.assignmenttwo.MainActivity"
            android:exported="true" />
    </application>

</manifest>