<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GC200387480.assignmenttwo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MovieApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssignmentTwo">
        <activity
            android:name=".CustomSiginActivity"
            android:exported="true" />
        <activity
            android:name=".SigninLayoutActivity"
            android:exported="true"/>



        <activity
            android:name=".AboutMeActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReviewActivity"
            android:exported="true"
            android:parentActivityName=".MovieRecyclerActivity" />
        <activity
            android:name=".SigninActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>

        <activity
            android:name=".MovieRecyclerActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewMovieActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>